* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {

    max-width: 960px;
    margin: auto;
    
}



/* CLASS */

.body {

    display: flex;
    flex-flow: column wrap;
    color: rgb(230, 195, 0);
    background: linear-gradient(black 66%, rgb(136, 0, 0));
    
    height: 100vh;
    
}

.header {

    justify-content: center;
    padding: 1rem 0;

}

.nav, .nav ul {

    display: flex;
    justify-content: space-evenly;
    
    list-style: none;
    width: 100%;

}

.buttonNav {

    text-decoration: none;
    font-weight: bold;

    padding: 0.5rem;

}

.buttonNav:hover {

    color: red;
    background-color: rgba(112, 62, 62, 0.5);  
    border-radius: 100px; 
    
    font-size: 1.1rem;
    
    padding: 0.5rem;

}






.mainDIV {

    display: flex;

}



/*

.navDIV a:hover {
    
    color: red;
    background-color: rgba(112, 62, 62, 0.5);  
    border-radius: 100px;  
    
    font-size: 1.1rem;
    
    padding: 5px;
    
}


.navButton {
    
    color: red;
    background-color: rgba(112, 62, 62, 0.5);  
    border-radius: 100px;  
    
    font-size: 1.1rem;
    
    padding: 5px;
    
    list-style: none;
    display: flex;
    justify-content: center;

}

*/

.avatarSideTextDIV {
    
    background-color: silver;
    
    margin: 0 1rem;
    border-style: dotted;
    border: silver;
    
}

.shine {
    
    background-color: rgb(28, 28, 55);
    
    float: left;
    
    width: max-content;
    margin: 0 1rem 1rem 0;
    border-radius: 10px;
    overflow: hidden;
    
}

.show-off {
    
    width: 160px;
    height: 160px;
    margin-top: -100%;
    
	transition: 0.6s;
	transform: translateX(-240px);
    background: linear-gradient(90deg, rgba(255,255,255, 0)0%, rgba(255,255,255,0.7)80%, rgba(255,255,255, 0)100%);
    opacity: 30%;
    
}

.shine:hover .show-off {
    
    transform: translateX(160px);
    transition: 0.6s;
    
}

.avatar {
    
    width: 160px;
    padding: 5px;
    
    border-radius: 10%;
    
}

.avatar:hover {
    
    box-shadow: 0px 10px 10px 20px black;
    cursor: copy;
    
}

.sideTextDIV {
    
    float: left;
    margin-bottom: 1rem;
    
}

.footerDIV {

    display: flex;
    justify-content: center;

}



/* ID */

#titleID {
    
    text-align: center;

    padding: 1rem 0;

}

#pageNameID {
    
    font-size: 1.5rem;
    text-decoration: underline;
    text-transform: uppercase;
    
}

#otpor {
    
    width: max-content;
    border: 1px solid rgb(230, 195, 0);
    padding: 5px;
    cursor: grabbing;
    
}

#otpor:hover {
    
    padding: 6px;
    border: 0px;
    
}

/* MEDIA */

/*
@media screen and (max-width: 1920px) {
    .bodyDIV {
        width: 100vw;
    }
}

@media screen and (min-width: 240px) { 
    .bodyDIV { 
        width: 100vw;
    } 
}
*/