/*
    Top-Right-Bottom-Left   # # # #
    Top-Right/Left-Bottom   # # #
    All                     #
*/

* {

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

html {

    max-width: 960px;
    margin: -5px auto 0;
    
}

/* CLASS */

.bodyDIV {
    
    height: 100vh;

    color: black;
    background-color: darkkhaki;

}

.headerDIV {

    background-color: red;

    margin: 5px 0;
    
}

.mainDIV {
    
    background-color: green;

    margin: 5px 0;
    padding: 5px;
    
}

.footerDIV {
    
    background-color: blue;

    position: fixed;
    bottom: 0;
    width: 960px;
    padding: 0.5rem;

    text-align: center;

}

.navDIV {
    
    background-color: grey;
    
    position: fixed;

    width: 960px;
    height: auto;

    padding: 0.5rem;

}

.navDIV a:hover {

    color: red;
    background-color: black;  
    border-radius: 100px;  
    
    font-size: 1.1rem;

    padding: 5px;

}

.navDIV ul {

    list-style: none;
    display: flex;
    justify-content: center;

}


/* ID */

#NavID {

    border-radius: 100px;

    padding: 0 10px;

    border-style: solid;
    border-color: red;

}

/* MEDIA */